/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

h1{
  color: aliceblue;
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
  padding-top: 40px;
}
.space{
text-align: center;
}

.sizeimg{
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;

}

hr{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

table{
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
}
td, th{
  overflow: auto;
  max-width: 150px;
  min-width: 150px;
  color: aliceblue;
}

body{
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.slider-wrapper .image-list{
  display: grid;
  gap: 18px;
  font-size: 0;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(10, 1fr);
}

.slider-wrapper .image-list::-webkit-scrollbar{
  display: none;
}


.slider-wrapper .image-list .image-item{
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.container{
  max-width: 600px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.slider-wrapper .slide-button{
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  border: none;
  outline: none;
  background: #000;
  font-size: 2.2rem; 
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(500%);
}

.slider-wrapper .slide-button:hover{
  background: #444;
}


.slider-wrapper .slide-button#prev-slide{
  left: 20%;
  display: none;
}

.slider-wrapper .slide-button#next-slide{
  right: 20%;
}


.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

@media (max-witdh: 1023px){
  .slider-wrapper .slide-button {
    display: none!important;
  }
  .slider-wrapper .image-list{
    gap: 10px;
    margin-bottom: 15px;

  }
  
  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }
}
.content{
  background: rgba;
  width: 50%;
  height: 120%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background: #444;
  border-radius: 10px;
}
.main-user-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.user-input-box:nth-child(2n){
  justify-content: end;
}

.user-input-box{
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  padding-bottom: 15px;
}

.user-input-box label{
  width: 95%;
  color: aliceblue;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}
.user-input-box input{
  height: 40px;
  width: 95%;
}