/* =========== Police Ubuntu ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
 --Bleu_foncé : #213742; /* Header / footer */
 --Bleu_clair : #425c6a; /* Footer */
 --Beige : #c8ceb5; /* Cartes / boutons */
 --Gris : #d9d9d9;  /* Cartes bis / contours */
 --Vert_pâle : #8fa096; /* Couleur supp */
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color : var(--Gris);
}

/* =============== Navigation ================ */

.navigation ul {
  list-style-type: none;
  margin: 10px 20px;
  padding: 0;
  overflow: hidden;
  background-color: var(--Bleu_clair);
  border-radius: 25px;
  display: flex; 
  align-items: center; 
}

.navigation li {
  display: inline-block; 
}

.navigation li a {
  display: flex;
  align-items: center;
  color: var(--Beige);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigation li a .icon, .navigation li a .logo {
  margin-right: 8px; 
  align-self: center; 
  margin-bottom: -2px; 
}

.navigation li a:hover {
  background-color: var(--Bleu_foncé);
  border-radius: 25px;
  color: white;
}

.navigation li:first-child {
  margin-right: auto; 
}

.navigation li:last-child {
  margin-left: auto; 
}




