@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
:root {
  --background: #5C6672;
  --panel: #313E50;
  --second-panel: #6C6F7F;
  --text-color: #E4E4E4;
  --btext-color: #242424;
  --subtext-color: #e3e3e3;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
  
.logos {
  overflow: hidden;
  padding-top: 3.4em;
  white-space: nowrap;
  position: relative;
}
  
.logos:after {
  position: absolute;
  top: 0;
  content: "";
  z-index: 2;
}
  
.logos:hover .logos-slide {
  animation-play-state: paused;
}
  
.logos-slide {
  display: inline-block;
  animation: 16s slide infinite linear;
}
  
.logos-slide img {
  width: 11em;
  height: 15em;
  margin: 0 2em;

  border: solid 4px;
  border-color: var(--text-color);
  border-radius: 10px;
}

#signIn{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 4.4em;
  margin-bottom: 2em;
}

#textMember {
  width: 49%;
  font-size: 20px;
  font-family: "Ubuntu";
  color: var(--subtext-color);
}

#textMember h2 {
  margin-top: 2em;
  margin-bottom: 0.8em;

  color: var(--text-color);
}

h2 {
  font-size: 32px;
  font-family: "Ubuntu";
  margin-bottom: 0.6em;

  color: var(--text-color);
}

#borderSignIn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-color: var(--text-color);
  border-radius: 7px;
  padding: 70px;
  max-width: 49%;
  background-color: var(--panel);
  text-align: center;
}

label{
  font-size: 28px;
  font-family: "Ubuntu";

  color: var(--subtext-color);
}

#id {
  margin-top: 0.6em;
  padding: 0.313em;
  height: 1.25em;
  font-size: 24px;
  font-family: "Ubuntu";
  background: none;
  border: none;
  outline: none;
  border-color: var(--panel);
  border-radius: 7px;
  background-color: var(--text-color);
  box-sizing: border-box;

  color: var(--btext-color);
}

#btnFind {
  margin-top: 0.5em;
  font-size: 18px;
  font-family: "Ubuntu";
  background: none;
  border: none;
  outline: none;
  color: var(--text-color);
  padding-bottom: 0% 0.1em;
  background-image: linear-gradient(var(--second-panel), var(--second-panel));
  background-size: 0% 0.1em;
  background-position-y: 110%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  transition: background-size 0.5s;
  box-sizing: border-box;
  cursor: pointer;
}

#btnFind:hover {
  background-size: 100% 0.22em;
}

#btnSubmit {
  width: 30%;
  font-size: 22px;
  font-family: "Ubuntu";
  border: none;
  outline: none;
  border-color: var(--text-color);
  border-radius: 7px;
  background-color: var(--second-panel);
  padding: 0.313em;
  margin: 1.25em;
  color: var(--text-color);
  cursor: pointer;
}

#findDiv { 
  display: none;
  margin-top: 0.5em;
  font-size: 16px;
  font-family: "Ubuntu";

  color: var(--text-color);
}

#borderSignIn p {
  font-size: 14px;
  font-family: "Ubuntu";

  color: var(--text-color);
}