@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
:root {
    --background: #5C6672;  /* Background */
    --panel: #313E50; /* Header & Footer*/
    --panel-hover: #444;
    --text-color: #8fa096; /* Boutons */
    --text-hover: #8fa096; 
    --text-color: #E4E4E4;  /* Couleurs pr le texte */
    --btext-color: #242424;
    --subtext-color: #e3e3e3;
}

h2 {
    margin-bottom: 0.4em;
    font-size: 32px;
    font-family: "Ubuntu";
    text-align: center;

    color: var(--subtext-color);
}

h3 {
    margin-bottom: 0.2em;
    font-size: 24px;
    font-family: "Ubuntu";
    text-align: center;

    color: var(--text-color);
}

#importJson {
    max-width: 50%;
    width: 95%;
    height: 8em;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: center;
    background: var(--panel);
    border-radius: 13px;
}

#importJson #jsonFile {
    margin-left: auto;
    margin-right: auto;
    
    font-size: 18px;
    font-family: "Ubuntu";
    color: var(--text-color);

    background: var(--background);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.4;
}

#importJson #jsonSubmit {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    
    font-size: 22px;
    font-family: "Ubuntu";
    color: var(--text-color);
  
    background: var(--background);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.4;
}

#importJson #jsonSubmit:hover {
    background: var(--panel-hover);
}

footer {
    margin-top: 20.8%;
}

/* =============== Déconnexion ================ */

.form-logout-btn{
    cursor: pointer;
  }
  
  .form-logout-btn input{
    width: 200px;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: aliceblue;
    background: #313E50;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
  }