@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@100&display=swap');
:root {
  --background: #425C6A;
  --panel: #133751;
  --green: #8FA096;
  --second-panel: #D3D3D3;
  --text-color: #D9D9D9;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--background);
}

body {
  overflow: hidden;
}

header {
  height: 7.5em;

  border-radius: 0px;
  background-color: var(--panel);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2em 0;
}

ul {
  width: 26%;

  display: flex;
  justify-content: space-around;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;

  font-size: 42px;
  font-family: "Roboto", sans-serif;

  color: var(--text-color);
  cursor: pointer;

  padding-bottom: 0% 0.1em;
  background-image: linear-gradient(var(--green), var(--green));
  background-size: 0% 0.1em;
  background-position-y: 110%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  transition: background-size 0.5s;
}

li a:hover {
  background-size: 100% 0.2em;
}

footer {
  height: 4.688em;
  margin-top: 35.6%;

  background-color: var(--panel);
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.4);
}

footer p {
  padding-top: 0.5em;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  text-align: center;

  color: var(--text-color);
}